@import "@telegraph/tokens/light";
@import "@telegraph/typography/default.css";
@import "@telegraph/button/default.css";
@import "@telegraph/icon/default.css";
@import "@telegraph/layout/default.css";
@import "@telegraph/tabs/default.css";
@import "@telegraph/menu/default.css";
@import "@telegraph/motion/default.css";

.tgraph-content {
  color: var(--tgph-gray-12);
}

.tgraph-content p {
  margin-top: 0;
}

.tgraph-content p, 
.tgraph-content ul, 
.tgraph-content ol {
  margin-bottom: var(--tgph-spacing-4);
}

.tgraph-content > div,
.tgraph-content > img,
.tgraph-content > blockquote {
  margin-bottom: var(--tgph-spacing-4);
}

.tgraph-content p, li {
  font-size: var(--tgph-text-2);
  line-height: var(--tgph-leading-3);
}

.tgraph-content p a,
.tgraph-content li a {
  color: var(--tgph-accent-11);
  text-decoration: underline;
}

.tgraph-content p a:hover,
.tgraph-content p a:focus,
.tgraph-content p a:active,
.tgraph-content li a:hover,
.tgraph-content li a:focus,
.tgraph-content li a:active { 
  color: var(--tgph-accent-11);
}

.main-header-tabs a {
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
  background-color: var(--tgph-gray-2);
}

.nav-item[data-active="true"] {
  background-color: var(--tgph-gray-3);
  color: var(--tgph-gray-12);
}

/* Data properties are new */
[data-property-row-description] p {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1.5;
}

[data-property-row-container]:last-child {
  border-bottom: none;
}

.tgraph-content h2 [data-tgph-code] {
  font-size: 18px;
  font-weight: var(--tgph-font-weight-semi-bold);
}

.tgraph-content h3 [data-tgph-code] {
  font-size: 16px;
  font-weight: var(--tgph-font-weight-semi-bold);
}

.tgraph-content p [data-tgph-code] {
  font-size: 13px;
}

.tgraph-content a [data-tgph-code] {
  color: var(--tgph-accent-11);
}

.tgraph-content [data-example-column] [data-code-block] {
  margin-bottom: 0;
}

.tgraph-content [data-callout] code {
  background-color: var(--tgph-gray-3);
}

.tgraph-content [data-callout] a {
  text-decoration: underline;
}

/* used directly throughout mdx and md files */
.tgraph-content [data-tgph-figcaption],
.tgraph-content figcaption {
  max-width: 85%;
}

.tgraph-content [data-tgph-figcaption] p,
.tgraph-content figcaption,
.tgraph-content figcaption p {
  font-size: var(--tgph-text-1);
  color: var(--tgph-gray-11);
  text-align: center;
  line-height: var(--tgph-leading-2);
  padding-top: var(--tgph-spacing-1);
  margin: 0 auto;
  margin-bottom: var(--tgph-spacing-6);
}

[data-content-card] [data-content-card-inner] {
  transition: border-color 0.15s ease-in-out;
  border-color: var(--tgph-gray-2);
}

[data-content-card]:hover [data-content-card-inner] {
  border-color: var(--tgph-gray-10);
}

/* The rare code blocks within a callout */
.tgraph-content [data-callout] pre code {
  background-color: var(--tgph-white);
}
