@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
  @apply w-full h-full subpixel-antialiased overflow-hidden;
}

.dot-bg {
  border-top: 16px solid white;
  background-image: radial-gradient(
    circle at 1px 1px,
    #c4c4c4 1px,
    transparent 0
  );
  background-size: 32px 32px;
}

@layer components {
  .docs-content h1,
  .docs-content h2,
  .docs-content h3,
  .docs-content h4 {
    @apply font-semibold relative group;
  }

  .docs-content h2 {
    @apply text-xl lg:text-2xl;
  }

  .docs-content h2:not(:first-child) {
    @apply mt-8 pt-8 md:mt-12 md:pt-12 border-t;
  }

  .breadcrumbs {
    @apply flex flex-wrap list-none;
  }

  .breadcrumb-item {
    @apply text-sm text-gray-500;
  }

  .breadcrumb-item + .breadcrumb-item:before {
    @apply inline-block pr-2;
    content: "\203A";
  }

  .breadcrumb-item + .breadcrumb-item {
    @apply pl-2;
  }

  .lg\:prose a {
    @apply text-brand;
  }

  .after\:hash {
    content: "#";
  }
}
