@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body {
  @apply w-full h-full subpixel-antialiased overflow-hidden;
}

.dot-bg {
  border-top: 16px solid white;
  background-image: radial-gradient(
    circle at 1px 1px,
    #c4c4c4 1px,
    transparent 0
  );
  background-size: 32px 32px;
}

@layer components {
  .docs-content h1,
  .docs-content h2,
  .docs-content h3,
  .docs-content h4 {
    @apply font-semibold relative group;
  }

  .docs-content h2 {
    @apply text-xl lg:text-2xl;
  }

  .docs-content h2:not(:first-child) {
    @apply mt-8 pt-8 md:mt-12 md:pt-12 border-t;
  }

  .breadcrumbs {
    @apply flex flex-wrap list-none;
  }

  .breadcrumb-item {
    @apply text-sm text-gray-500;
  }

  .breadcrumb-item + .breadcrumb-item:before {
    @apply inline-block pr-2;
    content: "\203A";
  }

  .breadcrumb-item + .breadcrumb-item {
    @apply pl-2;
  }

  .lg\:prose a {
    @apply text-brand;
  }

  .after\:hash {
    content: "#";
  }

  .docs-content .container {
    @apply flex flex-row my-8;
  }

  .docs-content .left-panel {
    @apply flex-1 mr-3;
  }

  .docs-content .left-panel h2 {
    @apply mt-0 pt-0 md:pt-0 md:mt-0;
  }

  .docs-content .right-panel {
    @apply ml-auto flex-1;
  }

  .docs-content .right-panel h4:first-child {
    @apply mt-0 pt-0 md:pt-0 md:mt-0;
  }

  .api-docs-content h3 {
    @apply border-b border-gray-200 pb-3 mb-3;
  }

  .api-docs-example .code-block,
  .api-docs-example .endpoints {
    @apply mb-5;
  }

  .api-docs-example .code-block {
    font-size: 13px;
  }

  .section-heading > a:last-child:before {
    content: "#";
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .section-heading:hover > a:last-child:before {
    opacity: 0.3;
  }
  .section-heading > a:last-child:hover:before {
    opacity: 0.6;
  }
}
