@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  @apply w-full h-full subpixel-antialiased overflow-hidden dark:bg-zinc-900 bg-white;
}

.dot-bg {
  border-top: 16px solid white;
  background-image: radial-gradient(
    circle at 1px 1px,
    #c4c4c4 1px,
    transparent 0
  );
  background-size: 32px 32px;
}

.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4 {
  @apply font-semibold relative;
}

.docs-content h2 {
  @apply text-xl lg:text-2xl;
}

.docs-content h2:not(:first-child) {
  @apply mt-4 pt-4;
}

.docs-content figcaption {
  @apply text-center text-sm italic text-gray-700 dark:text-gray-300 mx-auto mb-4 lg:mb-6 max-w-prose;
}

.breadcrumbs {
  @apply flex flex-wrap list-none;
}

.breadcrumb-item {
  @apply text-sm text-gray-500 dark:text-gray-300;
}

.breadcrumb-item + .breadcrumb-item:before {
  @apply inline-block pr-2;
  content: "\203A";
}

.breadcrumb-item + .breadcrumb-item {
  @apply pl-2;
}

.lg\:prose a {
  @apply text-brand;
}

.after\:hash {
  content: "#";
}

.docs-content .container {
  @apply flex flex-row my-8;
}

.docs-content .left-panel {
  @apply flex-1 mr-3;
}

.docs-content .left-panel h2 {
  @apply mt-0 pt-0 md:pt-0 md:mt-0;
}

.docs-content .right-panel {
  @apply ml-auto flex-1;
}

.docs-content .right-panel h4:first-child {
  @apply mt-0 pt-0 md:pt-0 md:mt-0;
}

.api-docs-content h3 {
  @apply mb-2;
}

.api-docs-example .code-block,
.api-docs-example .endpoints {
  @apply mb-5;
}

.api-docs-example .code-block {
  font-size: 13px;
}

/* For callouts and cards to allow styling */

.not-prose ol {
  list-style-type: decimal; /* Ensures that numbers are visible */
  margin-left: 8px; /* Adds some margin for indentation */
  padding-left: 8px; /* Optional: Additional padding if needed */
}

.section-heading > a:last-child:before {
  content: "#";
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-heading:hover > a:last-child:before {
  opacity: 0.3;
}
.section-heading > a:last-child:hover:before {
  opacity: 0.6;
}

.task-list-item {
  padding-left: 0 !important;
}

.task-list-item > input {
  margin-right: 8px;
}

.task-list-item:before {
  display: none !important;
}

.task-list-item > *:first-child {
  margin-top: 0 !important;
}

.task-list-item > *:last-child {
  margin-top: 0 !important;
}

.prose-sm ol {
  list-style-type: decimal;
}

.prose-sm ul {
  list-style-type: disc;
}

.schema-property-description p {
  margin-top: 0 !important;
}

.schema-property-description p:last-child {
  margin-bottom: 0 !important;
}

.schema-property-description code {
  font-size: 11px;
}