.layout-grid {
  grid-template-columns: 256px 1fr;
}

.layout-grid--three-col {
  grid-template-columns: 256px 1fr 240px;
  }
  
  /* Tablets */
  @media (max-width: 1024px) {
    .layout-grid {
      grid-template-columns: 1fr;
    }
  
    .layout-grid--three-col {
      grid-template-columns: 256px 1fr;
    }
  
    .lg-hidden {
      display: none;
    }
}

/* Tablets */
@media (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }

  .layout-grid--three-col {
    grid-template-columns: 1fr;
  }

  .md-wrapper-padding {
    padding: var(--tgph-spacing-8);
  }

  .md-flex-column {
    flex-direction: column;
  }

  .lg-hidden,
  .md-hidden {
    display: none;
  }
}

/* Phones */
@media (max-width: 512px) {

  .md-flex-column,
  .sm-flex-column {
    flex-direction: column;
  }

  .lg-hidden,
  .md-hidden,
  .sm-hidden {
    display: none;
  }
}
