.layout-grid {
  grid-template-columns: 256px 1fr;
}

.layout-grid--three-col {
  grid-template-columns: 256px 1fr 240px;
}

.mobile-nav {
  display: none;
}

/* Large */
@media (max-width: 1024px) {
  .layout-grid {
    grid-template-columns: 256px 1fr;
  }

  .layout-grid--three-col {
    grid-template-columns: 256px 1fr;
  }

  .lg-wrapper-padding {
    padding: var(--tgph-spacing-8);
  }

  .lg-hidden {
    display: none;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }

  .layout-grid--three-col {
    grid-template-columns: 1fr;
  }

  .lg-wrapper-padding {
    padding: var(--tgph-spacing-6);
  }

  .md-one-column {
    grid-template-columns: 1fr !important;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .md-no-left-padding {
    padding-left: 0;
  }

  .lg-hidden,
  .md-hidden {
    display: none;
  }

  .tgraph-content figcaption {
    width: 100%;
  }
.mobile-nav {
  display: block;
}

[data-search-results-container] {
  left: 5%;
}
}

/* Phones */
@media (max-width: 512px) {

  .lg-wrapper-padding {
    padding: var(--tgph-spacing-6);
  }

  .md-one-column,
  .sm-one-column {
    grid-template-columns: 1fr !important;
  }

  .md-flex-column,
  .sm-flex-column {
    flex-direction: column;
  }

  .lg-hidden,
  .md-hidden,
  .sm-hidden {
    display: none;
  }
}
