.layout-grid {
  grid-template-columns: 256px 1fr;
}

.layout-grid--three-col {
  grid-template-columns: 256px 1fr 200px;
}

/* Tablets */
@media (max-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }

  .layout-grid--three-col {
    grid-template-columns: 1fr;
  }

  .md-flex-column {
    flex-direction: column;
  }

  .md-hidden {
    display: none;
  }
}

/* Phones */
@media (max-width: 512px) {

  .md-flex-column,
  .sm-flex-column {
    flex-direction: column;
  }

  .md-hidden,
  .sm-hidden {
    display: none;
  }
}
